body {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.content-center {
  padding: 40px;

}

.title {
  font-weight: 700;
  color: #212121;
  font-size: 35px;
}

.category {
  color: #212121;
  font-weight: 600;
}

p {
  color: #fff;
}

.botão {
  background-color: #ff4f93;
  border: 2px solid #212121;
  border-radius: 30px;
  padding: 12px 16px;
  font-size: 16px;
  color: #212121;
  margin: 5px 1px;
  text-decoration: none;

}

.botão:hover {
  background-color: #ff6da5;
}

i {
  padding: 0 8px 0 0;
}

.btn.btn-link, .navbar .navbar-nav > a.btn.btn-link {
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.7rem;
  font-size: 0.8571em;
}


.btn {
  display: inline-block;
  border-width: 2px;
  font-weight: 400;
  line-height: 1.35em;
  margin: 2px 1px;
  padding: 11px 22px;
  cursor: pointer;
}

.button{
  background-color: #ff4f93;
  border: 2px solid #212121;
  color: #212121;
  border-radius: 30px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 1px;
}

.button-container {
  text-align: center;
  margin-top: -106px;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
  text-align: center;
  background-color: #212121;


}

.header {
    background-color: #ff4f93;
    flex-grow: 0;
    flex-basis: auto;
}

.section {
  background-color: #ff4f9200;
  flex-grow: 1;
  flex-basis: auto;
}

.border {
  border-radius: 87px 87px 0 0;
  background-color: #212121;

}

.fundo {
  background-color: #ff4f93;
  
}

.context {
  background-color: #212121;
}


/* Profile Image Style */
@-webkit-keyframes pulsate {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 0.0; }
    50% {
      opacity: 1.0; }
    100% {
      transform: scale(1, 1);
      opacity: 0.0; } }
  @keyframes pulsate {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 0.0; }
    50% {
      opacity: 1.0; }
    100% {
      transform: scale(1, 1);
      opacity: 0.0; } }
  
  .cc-profile-image a {
    position: relative; }
  
  .cc-profile-image a:before {
    content: "";
    border: 15px solid #212121;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 0;
    -webkit-animation: pulsate 1.6s ease-out;
            animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: 99; }
  
  .cc-profile-image img {
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    transition: all .3s ease-out; }
  
  .cc-profile-image a:hover img {
    transform: scale(1.06, 1.06); }
  
  .cc-profile-image a:hover:before {
    -webkit-animation: none;
            animation: none; }


page-header.page-header-small {
    height: 60vh;
    max-height: 440px; 
}